/* repeat options: 
no-repeat does not repeat 
repeat-x repeats from left to right
repeat-y repeats from top to bottom 
*/

body{
	background-image: url("../img/frisbee-main004.jpg");
	background-repeat:no-repeat;
	background-position: 35% 50%;
	background-attachment:fixed;
	background-color:#647678;
	font-family: arial, veranda, sans-serif;
	width: 98%;
}

/*----- Start top of the page ------*/


header {
	width:100%;
	border: 1px solid #000;
	background: #9FBCBF;
	background: linear-gradient(to bottom,  #3f4c6b 0%,#9499d1 66%); /* W3C */
	border-radius: 4px;
	padding-right: .2%; 
	overflow: hidden;
}

/*-- logo image at the top of the page --*/
#logo {
	width:10%;
	margin: .8%;
	float: left;	
}

h1 {
	text-indent: -9999px;
}

/* top navigation bar for page */
nav {
	width:97%;
	text-align:center;
	margin-top: 5%;
}

nav ul {
	width: 80%;
	border-bottom: 2px solid #000; 
}

nav li {
	display:inline-block;
	margin: .17%;
	padding: 4px 45px 4px 4px;
	font-size: 1.2em;	
}

/*---- end top of page selectors -----*/


/*--- all anchor tag selectors here ---*/ 

a {
	text-decoration: none;
	color: rgba(44, 94, 165, 1);
}

a:hover {
	border-top: 1px solid #000;
}

a:visited {
	color:rgba(159, 44, 165, 1);

}
/* pseudo class for hover effect */
a:active {
	font-weight:bold;
	color: deeppink;
}


p {
	line-height: 1.3;
	text-align:justify;
}

/*-- ol refers to the list in the how to get started list. --*/
ol li {
	list-style-type: upper-alpha;
}

/*-- the id of fill allows the background image to be visible --*/
#fill {
	width:100%;
	margin: 0 auto;
	padding: 250px 0;
	background-color: rgba(255, 255, 255, 0);	
}

#bod {
	width:100%;
	margin: 0;
	padding: 1px 5px 5px 1px;
	background-color: rgba(213, 251, 255, 0.91);
	overflow: hidden;
}

#bod2 {
	width:100%;
	background-color: rgba(213, 251, 255, 1);
	overflow: hidden;
}

/*-- used linked "Lato" font to this section --*/
.golf1 {
	width: 97%;
	margin: .8%;
	padding-bottom:2.5%;
	font-family: lato, veranda, sans-serif;
}

.golf2 {
	width: 30%;
	margin: .2%;
	margin-right: 10%;
	padding: 1.2%;
	float: right;	
}

article {
	width:45%;
	padding: 1px 5px 5px 5px;
	float: left;
	border-right: 2px solid #000;
}

figure img {
	box-shadow: 2px 2px 5px #4BB5C1;
}

figcaption {
	text-shadow: 4px 4px 10px #4BB5C1;
}

/* Here is the the disc type table  */
#tables {
	width:45%;
	margin-left: 4.5%;
	float: left;
}

table {
	border-collapse:separate ;
	font-size: 1.2em;
	border: 2px double #000;
	background:rgba(255, 0, 149, 1) ;
	border-spacing: 5px;
}

th {
	text-transform: uppercase;
}

th, td {
	border: 1px solid #000;
	margin: .8%; 
	padding: 5px;
	text-align: center;
	
}

.even{
	background-color: #efefef;
}

.even:hover {
 background-color: rgba(0, 251, 255, 0.63);
}
	


/*-- end of form selectors --*/
/*-- footer defines bottom nav bar --*/
footer {
	width: 100%;
	padding:.7% .24%;
	text-align: center;
	background-image: url("../img/grass.png") ;
}

footer a {
	color: #00b2ff;
	font-size: 1.2em;
	font-weight: bold;
}

footer a:visited {
	color: #000; 
}

footer a:hover {
	border-bottom: 2px solid #000;
}
/*-- centered list with auto margin --*/
footer ul {
	width:35%;
	margin: 1% auto;
	padding: .5%;
	background-color: rgba(213, 251, 255, .80);
}


footer li {
	display:inline;
	width: 100%;
	margin: 2%;
	padding-right:2%;
}


/*---- all form classes are below  -----*/

/*--- here are all the bottom form selectors ---*/


form {
	width: 49%;
	font-size: .9em;
	margin: 10px;
	padding:6px;
	background-color:#efefef;
	float:left;
}

input:focus {
	background-color: #000;

}

#add:hover {
	background: linear-gradient(#a8cfce, #beeae9);
}

#add {
	color: #444444:
	text-shadow: .5px .5px #fff;
	border-bottom: 1px solid #b2b2b2;
	background-color: linear-gradient(#beeae9 #a8cfce);
	cursor: pointer;
}	
	/* end of buttons */

input:hover{
	background-color: #d0e2f0;
	border: 1px solid #999;
}

input:focus {
	background-color: #d0e2f0;
	border: 1px solid #999;
} 


#form1 {
	width: 18%;
	border-radius: 2px;
	margin: .5%;
	float:right;
}

feildset {
overflow:hidden;
}
